.warp {
 width: 1100px;
	margin: auto;
	background: #FAEBD7;
}

.head {
	margin-left: 10px;
	font-size: 23px;
	font-family: segoe print;
}

.baner {
	width: 1100px;
	height: 500px;
	border: 1px solid #D3D3D3;
	 margin-top: 20px;
	margin-bottom: 20px;
}

.p {
	margin-left: 125px;
	margin-bottom: 5px;
	border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px 5px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
  

    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #DCDCDC, #F5F5F5); /* Градиент */
    color: #000000;/* Цвет текста */

}

.menu {
	font-family: COMIC SANS MS; 
	font-size: 15px;
}

.First{
	font-size: 40px;
	margin-left: 238px;
	font-family: COMIC SANS MS;
	margin-bottom: 45px;
}

h2 {
	margin-left: 70px;
	font-size: 27px;

}

h3 {
	font-size: 25px;
	margin-left: 10px;
	margin-bottom: 2px;
}

p {
	margin-left: 10px;
	font-size: 20px;
	font-family: consolas;
}

.wer {/*класс помогающий делать отступ от низа*/
	margin-bottom: 100px;
}

.low { /*подпись в низы страницы*/
	margin-left: 3px;
	font-family: segoe print;
	font-size: 15px;
}
